th {
    cursor: pointer;
    background-color: white;
    border-color: black;
    border-width: 0 0 1px 0;
    border-style: solid;
    text-overflow: ellipsis;
    overflow: hidden;
}

thead {
    background-color: white;
}

th.sorting_disabled {
    cursor: default;
}

table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
}

/*
.sorting_desc, .sorting_asc {
    text-decoration: underline;
}

th.sorting:before {
    content: "â†• ";
    white-space: nowrap;
}

th.sorting_asc:before {
    content: "â†“ ";
    white-space: nowrap;
}

th.sorting_desc:before {
    content: "â†‘ ";
    white-space: nowrap;
}
*/

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #E0FFE3;
}

table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background-color: white;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #C0CBFF;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #DBE1FF;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
	background-color: #DBE1FF;
}

td {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.lastUpdate {
    float: right;
    padding-right: 200px;
}

.fork {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0; 
    z-index: 50;
}

/* ----------------------------------- */
.invisible {
    display: none;
}

td.forks {
    text-align: right;
}
td.issues {
    text-align: right;
}
td.stars {
    text-align: right;
}
td.watchers {
    text-align: right;
}
td.age {
    text-align: right;
}
td.freshness {
    text-align: right;
}
td.version {
    text-align: right;
    text-overflow: ellipsis;
}
td.description {
    white-space: normal;
}
td.tags {
    white-space: normal;
}
td.author {
}
td.author span {
    text-overflow: ellipsis;
    vertical-align: top;
}
td.author img {
    margin-right: 2px;
}
td.component {
    text-overflow: ellipsis;
}
.tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    padding: 3px 4px;
    margin: 2px 2px 2px 0px;
    text-decoration: none;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.tag.active {
    color: black;
    background-color: #FFCB6F;
}
.tag-count {
    font-size: 90%;
    font-weight: normal;
    margin-right: 4px;
    color: #999;
}
.avatar {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    padding: 3px 4px;
    margin: 2px 2px 2px 0px;
    text-decoration: none;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}
.avatar.active {
    color: black;
    background-color: #FFCB6F;
}
.avatar-count {
    font-size: 90%;
    font-weight: normal;
    margin-right: 4px;
    color: #999;
}
.avatar img {
    vertical-align: middle;
    margin-right: 2px;
}
.external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(../img/external_link-26.png);
    padding-right: 1.4em;
    background-size: 1em;
}
input.busy {
    background-color: #fdfdb4;
}
.dataTables_wrapper .dataTables_filter {
    display: flex;
    float: left;
}
.dataTables_wrapper .dataTables_length {
    float: right;
}
#tags {
    text-align: center;
}
#tag-filter {
    display: inline;
}
#avatars {
    text-align: center;
}
#avatar-filter {
    display: inline;
}