---
title: component - modular javascript framework - search tool | xmojmr
lang: en
description: component search tool
canonical: http://component.xmojmr.cz
version: 1.0.2
template:
  - layout.html
  - modernizr.js
  - dataTables.js
  - sticky.js
  - timeago.js
  - require.js
  - superagent.js
  - textWidth.js
  - modal.js
  - style.css
  - main.js
copyright: xmojmr
---
{% block redirect %}
<script>{ var home = '{{ canonical | url_parse('hostname') }}'; if (window.location.hostname != home && window.location.hostname != 'localhost') window.location.href = '{{ canonical  + '/' }}' + window.location.hash; }</script>{% endblock %}

{% macro dfn(name, href = '') %}{% trim %}
  {% if href == '' %}
    <span class="dfn">{{ name }}</span>
  {% else %}
    <span class="dfn href"><a href="{{ href }}">{{ name }}</a></span>
  {% endif %}
{% endtrim %}{% endmacro %}

{% macro eye(name) %}<span class="eye">{{ name }}</span>{% endmacro %}

{% block body %}
<header id="header">
    <div class="intro first" style="margin-top: 0"><a href="https://github.com/xmojmr"><img id="logo" src="i.png" alt="{{ copyright }}" title="{{ copyright }}" style="float: left"></a>{{ eye('This is search tool') }} for modular JavaScript {{ dfn('component', 'https://github.com/component/guide') }} framework. The component framework was invented by {{ dfn('TJ Holowaychuk', 'https://github.com/visionmedia') }}<br>The search tool is brought to you by {{ dfn('xmojmr', 'https://github.com/xmojmr') }} under {{ dfn('WTFPL', 'http://en.wikipedia.org/wiki/WTFPL') }} license</div>

    <div class="intro">{{ eye('You can use') }}<ul>
    <li>{{ dfn('multi-column') }} {{ dfn('sorting') }} by author, component, number of stars GitHub users assigned to it, age in days, number of open issues, freshness in days, version number, number of forks</li>
    <li>{{ dfn('full-text search') }} in description, tags, author name, component name</li>
    <li>{{ dfn('tag =') }} cloud filter, multiple selected tags allow for narrowing down the search</li>
    <li>{{ dfn('author =') }} cloud filter, authors are up-weighted by number of projects, number of stars and down-weighted by number of open issues. Multiple selected authors allow for filtering a group of popular vendors</li>
    <li>Each query is represented by {{ dfn('bookmarkable url')}}</li>
    </ul></div>

    <div class="intro last">{{ eye('Help') }} and support is available through <span class="dfn href"><a href="http://github.com/xmojmr/component.io"><img src="resources/GitHub-Mark-32px.png" alt="GitHub">GitHub</a></span> issue tracker</div>
</header>
<div id="loading"><div id="loading-label">Loading &hellip;</div></div>
<article id="content" itemscope itemtype="http://schema.org/Article">
    <div id="error" style="display:none">Data service is not available. Try again later or from different device. Problem details:&nbsp;</div>
    <div id="status" class="invisible">Search tool version {{ version }} was released <time id="release-date" datetime="{{ site_updated | format() }}" title="{{ site_updated | format() }}" itemprop="datePublished">on {{ site_updated | translate(lang) }}</time>. <span class="dfn href"><a href="https://github.com/component/crawler.js">component-crawler</a></span> database cache was updated <time id="last-modified" datetime="{{ site_updated | format() }}" class="dfn" itemprop="dateModified">? ago</time></div>
    <div class="invisible">
        <div id="tags-controller" class="invisible">&#8712; text) &#8743; (<a class="ui-button" onclick="tagControllerClick()">tag =</a><div id="tag-filter"></div></div>
    </div>
    <div id="avatars" class="invisible" data-image-size="{{ $_avatar_image_size }}"></div>
    <div class="invisible">
        <div id="avatars-controller" class="invisible">) &#8743; (<a class="ui-button" onclick="avatarControllerClick()">author =</a><div id="avatar-filter"></div>)</div>
    </div>
    <table id="table" class="stripe cell-border order-column invisible" data-small-table-size="{{ $_small_table_size }}" style="border-collapse: collapse">
        <thead>
            <tr>
                <th>author</th>
                <th>component</th>
                <th>description</th>
                <th>tags</th>
                <th>hash</th>
                <th>stars</th>
                <th>age in days</th>
                <th>open issues</th>
                <th>freshness in days</th>
                <th>version</th>
                <th>forks</th>
            </tr>
        </thead>
    </table>
</article>
<footer>{{ dfn('xmojmr') }} {{ dfn(site_updated | format('yyyy')) }}</footer>
{% endblock %}
