---
$_avatar_image_size: 19
$_small_table_size: 1150
$_minimal_window_size: 700
---
$_body_font_size = 1em
$_body_line_height = 1.4em
$_page_button_vertical_padding = 4px
$_page_button_horizontal_padding = 0.5em
$_round_corner_radius = 4px
$_length_combo_vertical_padding = 4px
