---
$_background_color: '#D0E3D3'
$_text_color: '#008000'
$_line_color: '#A2C8A9'
$_icon_color: '#1D5F2F'
$_table_background_color: white
$_table_border_color: gray
$_table_text_color: black
$_table_line_color: silver
$_table_background_stripe_color: '#E5EAFF'
$_table_selected_background_stripe_color: '#C0CBFF'
$_table_selected_background_color: '#E5EAFF'
$_table_selected_button_background_color: '#1D5F2F'
$_table_selected_button_text_color: '#00FF00'
$_table_button_border_color: '#1D5F2F'
$_table_button_background_color: '#D0E3D3'
$_table_button_text_color: black
$_table_locked_selected_button_background_color: '#C0CBFF'
$_table_locked_selected_button_text_color: black
$_table_eye_background_color: '#FFD99E'
$_table_eye_text_color: black
---

