---
---
{% component "http://code.jquery.com/jquery-1.11.0.min.js" %}
{# does not work in Opera Mobile 12.10
{% component "http://code.jquery.com/jquery-2.0.3.min.js" %}
#}
{% component "http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" %} 
{% component "http://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.0/jquery.dataTables.min.js" %}
{% component "http://cdn.datatables.net/plug-ins/28e7751dbec/integration/jqueryui/dataTables.jqueryui.js" %}
{% component "http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css" %}
{% component "http://cdn.datatables.net/plug-ins/28e7751dbec/integration/jqueryui/dataTables.jqueryui.css" %}
